.main-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.main-wrap h2 {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-top: 1.5rem;
  text-align: left;
}

.input-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Sans KR", sans-serif;
  background-color: var(--main-color);
  border-radius: 5px;
  height: 5rem;
  width: 100%;
  margin: 0 auto;
  color: var(--white);
}

.input-title {
  margin: 0 1rem 0 0.3rem;
  padding: 0.3rem;
  outline: 0;
}

.input-content {
  margin: 0 1rem 0 0.3rem;
  padding: 0.3rem;
  outline: 0;
}

.input-btn {
  cursor: pointer;
  border: 1px solid var(--white);
  border-radius: 5px;
  background-color: transparent;
  color: var(--white);
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  transition: 0.3s;
  font-weight: 600;
  font-family: "IBM Plex Sans KR", sans-serif;
}

.input-btn:hover {
  color: var(--main-color);
  background-color: var(--white);
}

.input-del-btn,
.input-done-btn,
.input-cancel-btn {
  cursor: pointer;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  background-color: transparent;
  color: var(--main-color);
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  transition: 0.3s;
  font-weight: 600;
  font-family: "IBM Plex Sans KR", sans-serif;
  margin-right: 0.5rem;
}

.input-del-btn:hover,
.input-done-btn:hover,
.input-cancel-btn:hover {
  color: var(--white);
  background-color: var(--main-color);
}

.card-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 1.5rem 0;
  width: 100%;
  overflow-x: auto;
}

.card-wrap::-webkit-scrollbar {
  width: 10px;
}

.card-wrap::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

.working-card-wrap,
.done-card-wrap {
  display: flex;
  min-width: 15rem;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: "Montserrat", sans-serif;
}

.working-no-card,
.done-no-card {
  margin: 4rem 0 3rem 1rem;
  border-radius: 5px;
  padding: 1rem;
  font-family: "IBM Plex Sans KR", sans-serif;
  color: var(--main-color);
  font-weight: 600;
}

.working-no-card p,
.done-no-card p {
  width: 230px;
}

.working-card-list,
.done-card-list {
  min-width: 20rem;
  margin: 1rem 1rem 1rem 0;
  border: 1.5px solid var(--point-color);
  border-radius: 5px;
  padding: 1rem;
  font-family: "IBM Plex Sans KR", sans-serif;
  transition: 0.3s;
  word-break: break-all;
}

.working-card-list:hover,
.done-card-list:hover {
  background-color: var(--point-color);
}

.working-card-list:hover .date-now,
.done-card-list:hover .date-now,
.working-card-list:hover .working-title,
.done-card-list:hover .done-title,
.working-card-list:hover .working-content,
.done-card-list:hover .done-content {
  color: var(--white);
}

.working-card-list:hover .input-del-btn,
.working-card-list:hover .input-done-btn,
.done-card-list:hover .input-done-btn,
.done-card-list:hover .input-done-btn {
  color: var(--white);
  border: 1px solid var(--white);
}

.working-title,
.done-title {
  font-weight: 600;
  font-size: 2rem;
  color: var(--main-color);
  margin-bottom: 0.5rem;
  height: 70px;
  max-height: 80px;
}

.working-content,
.done-content {
  margin: 1rem 0 0.5rem 0;
  font-size: 1.2rem;
  height: 100px;
  overflow-y: auto;
  line-height: 1.5rem;
  font-weight: 600;
}

.date-now {
  font-weight: 600;
  color: var(--point-color);
  font-size: 0.75rem;
}
